{% extends "account/base.html" %}
{% load static %}

{% block content %}
<body class="login_body">
<div class="login_contents">
    <div class="login_pos">
        <div class="login_form">
            <h1 class="login_title">Assy</h1>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <p>{{ form.login }}</span></p>
                    <p>{{ form.password }}</p>
                    <button type="submit" class="btn btn-info" style="margin: 2% auto; width: 60%;">ログイン</button>
                </form>
                <p class="login_or">または</p>
                    <a href="{% url 'reset' %}"><p>パスワードをお忘れの方</p></a>
        </div>
            <div class="new_account">
                <p>アカウントをお持ちではない方はこちら&emsp;<a href="{% url 'signup' %}">新規登録</a></p>
            </div>
        <footer class="login_footer">&copy;2020 Yusuke Sugama</footer>
    </div>
</div>
<script>
    const login = document.querySelector('input[name="login"]')
    login.addEventListener('blur', () => {
        if (login.value === '') {
            login.style.backgroundColor = '#fcc';
        } else {
            login.style.backgroundColor = '#fff';
            login.nextElementSibling.innerHTML = '';
        }
    });
    const password = document.querySelector('input[name="password"]')
    password.addEventListener('blur', () => {
        if (password.value === '') {
            password.style.backgroundColor = '#fcc';
        } else {
            password.style.backgroundColor = '#fff';
            password.nextElementSibling.innerHTML = '';
        }
    });
</script>
</body>
{% endblock %}
