{% extends 'layout.html' %}
{% load static %}

{% block content %}

<div id="your_container">
        <!-- チャットの外側部分① -->
        <div id="bms_messages_container">
            <!-- ヘッダー部分② -->
            <div id="bms_chat_header">
                <div class="direct">
                    <p>Direct</p>
                </div>
                <!--ステータス-->
                <div id="bms_chat_user_status">
                    <!--ステータスアイコン-->
                    <div id="bms_status_icon">
                        {% for item in post %}
                            <img class="talk_now" src="/{{ item.user.image.url }}">
                        {% endfor %}</div>
                    <!--ユーザー名-->
                    <div id="bms_chat_user_name">{{ username }}</div>
                </div>
            </div>
            <div class="chat_list">
                {% for chat in chat_list %}
                    <div class="chat_member">
                        <a href="#">
                            
                        {% for user_image in users %}
                            {% if user_image.username == chat.name %}
                            <img class="chat_list_user_img" src="/{{ user_image.image.url }}">
                            {% endif %}
                        {% endfor %}
                        <div class="chat_info">
                            <p class="chat_member_user_name">{{ chat.name }}</p>
                            <p class="chat_comment_history">そしたら２０時でお願いします。</p>
                            <p class="last_chat_time">{{ chat.chat_time|date:"Mj日" }}</p>
                        </div>
            
                        </a>
                    </div>
                {% endfor %}
            </div>
            <!-- タイムライン部分③ -->
            <div id="bms_messages">

                <!--メッセージ１（左側）-->
                {% for messages in message %}
                    <div class="bms_message bms_left">
                        <div class="bms_message_box">
                            <div class="bms_message_content">
                                <div class="bms_message_text">
                                    <p>{{ messages.message_history }}</p>
                                    <p><small>{{ messages.created_at|date:"j日 G:i" }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="bms_clear"></div><!-- 回り込みを解除（スタイルはcssで充てる） -->

                <!--メッセージ２（右側）-->
                {% for messages in message %}
                <div class="bms_message bms_right">
                    <div class="bms_message_box">
                        <div class="bms_message_content">
                            <div class="bms_message_text">
                                <p>{{ messages.message_history }}</p>
                                <p><small>{{ messages.created_at|date:"j日 G:i" }}</small></p>
                            </div>
                   
                        </div>
                    </div>
                </div>
                
                {% endfor %}
                
            </div>
            <div class="bms_clear"></div><!-- 回り込みを解除（スタイルはcssで充てる） -->
                <div id="bms_send">
                    <form action="{% url 'chat' username %}" method='post'>{% csrf_token %}
                        <!--<div id="id_message_history"></div>-->
                        {{ form.content }}
                        <input type=submit id="bms_send_btn" value="送信"></button>
                    </form>
            </div>
            <!-- テキストボックス、送信ボタン④ -->
            
        </div>
    </div>






{{ username | json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/assy/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#id_message_history').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        //chat-message-input
        document.querySelector('#id_content').focus();
        document.querySelector('#id_content').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#id_content');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock content %}