{% extends 'layout.html' %}
{% load static %}

{% block customcss %}
{% endblock customcss %}

{% block content %}
<div class="chat_content">
    <div class="chat_content2">
        <div class="chat_list">
            <div class="chat_list_title">
                <p>Direct</p>
            </div>
                <p class="space">　</p>
                <div class="chat_member">
                    <img class="chat_list_user_img" src="/static/assy/img/{{ user.img }}">
                    <div class="chat_info">
                        <p class="chat_member_user_name">{{ user.username }}</p>
                        <p class="chat_comment_history">そしたら２０時でお願いします。</p>
                        <p class="last_chat_time">5月20日 12:00</p>
                    </div>
                </div>
                <div class="chat_member">
                    <img class="chat_list_user_img" src="/static/assy/img/{{ user.img }}">
                    <div class="chat_info">
                        <p class="chat_member_user_name">{{ user.username }}</p>
                        <p class="chat_comment_history">そしたら２０時でお願いします。</p>
                        <p class="last_chat_time">5月20日 12:00</p>
                    </div>
                </div>
                <div class="chat_member">
                    <img class="chat_list_user_img" src="/static/assy/img/{{ user.img }}">
                    <div class="chat_info">
                        <p class="chat_member_user_name">{{ user.username }}</p>
                        <p class="chat_comment_history">そしたら２０時でお願いします。</p>
                        <p class="last_chat_time">5月20日 12:00</p>
                    </div>
                </div>
                <div class="chat_member">
                    <img class="chat_list_user_img" src="/static/assy/img/{{ user.img }}">
                    <div class="chat_info">
                        <p class="chat_member_user_name">{{ user.username }}</p>
                        <p class="chat_comment_history">そしたら２０時でお願いします。</p>
                        <p class="last_chat_time">5月20日 12:00</p>
                    </div>
                </div>
                <div class="chat_member">
                    <img class="chat_list_user_img" src="/static/assy/img/{{ user.img }}">
                    <div class="chat_info">
                        <p class="chat_member_user_name">{{ user.username }}</p>
                        <p class="chat_comment_history">そしたら２０時でお願いします。</p>
                        <p class="last_chat_time">5月20日 12:00</p>
                    </div>
                </div>
                <div class="chat_member">
                    <img class="chat_list_user_img" src="/static/assy/img/{{ user.img }}">
                    <div class="chat_info">
                        <p class="chat_member_user_name">{{ user.username }}</p>
                        <p class="chat_comment_history">そしたら２０時でお願いします。</p>
                        <p class="last_chat_time">5月20日 12:00</p>
                    </div>
                </div>
                <div class="chat_member">
                    <img class="chat_list_user_img" src="/static/assy/img/{{ user.img }}">
                    <div class="chat_info">
                        <p class="chat_member_user_name">{{ user.username }}</p>
                        <p class="chat_comment_history">そしたら２０時でお願いします。</p>
                        <p class="last_chat_time">5月20日 12:00</p>
                    </div>
                </div>
                <div class="chat_member">
                    <img class="chat_list_user_img" src="/static/assy/img/{{ user.img }}">
                    <div class="chat_info">
                        <p class="chat_member_user_name">{{ user.username }}</p>
                        <p class="chat_comment_history">そしたら２０時でお願いします。</p>
                        <p class="last_chat_time">5月20日 12:00</p>
                    </div>
                </div>
                <div class="chat_member">
                    <img class="chat_list_user_img" src="/static/assy/img/{{ user.img }}">
                    <div class="chat_info">
                        <p class="chat_member_user_name">{{ user.username }}</p>
                        <p class="chat_comment_history">そしたら２０時でお願いします。</p>
                        <p class="last_chat_time">5月20日 12:00</p>
                    </div>
                </div>
            
        </div>
   
    
    
        <div class="chat_room">
            <div class="response_user">
                <img class="response_user_img" src="/static/assy/img/{{ user.img }}">
                <p class="response_user_name">{{ user.username }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}