{% extends "layout.html" %}
{% load static %}


{% block content %}

{% if user.is_authenticated %}

    <div class="consept">
        <div class="flex">
            <img src="{% static 'assy/img/02.jpg' %}" class="header_img" >
            <img src="{% static 'assy/img/01.jpg' %}" class="header_img2">
        </div>
        <p>誰かがきっと、あなたを迎えに来る</p>
    </div>
    <div class="home_content">
        {% for item in more_context %}
        <div class="post_list">
            <div class="image1">
               <img class="user_icon" src="/{{ item.user.image.url }}" width=250px>
            </div>
            <div class="post_info">
                <p class="post_user">{{ item.user.username }}</p>
                <p class="post_place"><strong>場所 :</strong> {{ item.place }}</p>
                <p class="post_people"><strong>人数 :</strong> {{ item.member }}</p>
                <p class="meeting"><strong>時間 :</strong> {{ item.date|date:"n/j G時i分" }}</p>
                <p class="post_comment"><strong>コメント :</strong> {{ item.contents }}</p>
                {% if user.id != item.user_id %}
                <p class="dm"><a href="{% url 'chat' item.username %}">メッセージを送る</a></p>
                {% endif %}
            </div>
            <div class="iitd">
                <p class="post_time">{{ item.post_time|date:"n/j G:i" }}</p>
                {% if user.id == item.user_id %}
                <button type="button" class="button is-light delete-modal-button" data-deleteurl="{% url 'delete' item.pk %}">削除</button>
                <div class="modal" id="modal">
                    <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head"><p class="modal-card-title">確認</p></header>
                                <section class="modal-card-body">本当に削除してよろしいですか。</section>
                                    <footer class="modal-card-foot">
                                        <form action="" method="POST" id="delete-form">
                                        {% csrf_token %}
                                            <button type="button" class="button is-info" id="delete-cancel-button">キャンセル</button>
                                            <button type="submit" class="button is-danger">削除</button>
                                        </form>
                                    </footer>
                        </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p><a href="{% url 'login' %}">ログイン</a></p>
    <p><a href="{% url 'signup' %}">signup</a></p>
{% endif %}
{% endblock %}

{% block extrajs %}
    <script>
        const deleteForm = document.getElementById('delete-form');
        const modal = document.getElementById('modal');
        const deleteCancelButton = document.getElementById('delete-cancel-button');
        const deleteModalButtons = document.getElementsByClassName('delete-modal-button');
        for (const button of deleteModalButtons) {
            button.addEventListener('click', () => {
                modal.classList.add('is-active');
                deleteForm.action = button.dataset.deleteurl;
            });
        }
        deleteCancelButton.addEventListener('click', () => {
            modal.classList.remove('is-active');
        });
    </script>
{% endblock %}