{% extends "layout.html" %}
{% load static %}


{% block content %}
<div>
    <p>トークルーム</p>
    <a href="#">
        <div class="room_list">
            {% for item in room_list %}
                <p>{{ item.name }}</p>
                <p>{{ item.chat_time }}</p>
            {% endfor %}
        </div>
    </a>
</div>
<script>
    document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };
        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/assy/' + roomName + '/';
        };
</script>
{% endblock %}