{% extends 'layout.html' %}
{% load static %}


{% block customcss %}
{% endblock customcss %}

{% block content %}
<div class="profile_content">
    <div class="profile_list">
        <h2>プロフィール設定</h2>
        
        <form action="" method='POST' id='myform' enctype="multipart/form-data">{% csrf_token %}
            {% if user.image %}
                <img class="img_update" src="/{{ user.image.url }}" width=250px>
            {% endif %}
            <div class="profile_update">
                <p><strong>プロフィール画像</strong>{{ form.image }}</p>
                <p><strong>アカウント名</strong>　　{{ form.username }}</p>
                    <div class="note">
                        <div class="note_title"><p>個人の情報</p></div>
                        <p>アカウントがビジネス、ペットなどに使用されている場合でも、<br>個人の情報を入力してください。これは公開プロフィールでは表示されません。</p>
                    </div>
                <p><strong>メールアドレス</strong>　{{ form.email }}</p>
                <p><strong>年齢</strong>　　　　　　{{ form.age }}</p>
                <p><strong>性別</strong>　　　　　　{{ form.gender }}</p>
                <p><input class="btn btn-primary" style="margin-right: 20%; margin-top: 0; width: 60%" type="submit" value="変更する"></p>
            </div>
        </form>
    </div>
</div>


{% endblock content %}