{% extends 'account/base.html' %}

{% block content %}
<body class="reset_body">
    <div class="reset_assy">
        <h1>Assy</h1>
    </div>
    <div class="reset_content">
        <h2 class="reset_title">パスワード再設定</h2>
        <div class="reset_form">
            <svg width="5em" height="5em" viewBox="0 0 16 16" color="gray" class="bi bi-emoji-smile" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path fill-rule="evenodd" d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683z"/>
                <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
            </svg>
                <p class="comment"><strong>ログインできない場合</strong></p>
                <p class="reset_message">アカウントにアクセスするためのログインリンクを送信するため、メールアドレスを入力してください。</p>
                <form class="reset_email" action="{% url 'reset' %}" method="post">
                    {% csrf_token %}
                    {{ form.email }}
                    <button type="submit" class="btn btn-info" style="width: 60%; margin: 5% auto;">パスワード変更</button>
                </form>
                </div>
        <div class="reset_or">
            
            <p>または</p>
            <p><a href="{% url 'signup' %}">新しいアカウントを作成</a></p>
        </div>
        <p class="back_login"><a href="{% url 'login' %}">ログインに戻る</a></p>
    </div>
        <footer class="reset_footer">&copy;2020 Yusuke Sugama</footer>
</body>
{% endblock %}